* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 40px;
    background-color: #ffe1e1;
}

h1 {
    background-color: #ff8a8a;
    color: #FFF;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 20px;
    max-width: 1000px;
}

img {
    max-width: 1000px;
    width: 100%;
    border-radius: 8px;
}

h2 {
    color: #ff8a8a;
}

a:hover {
    text-decoration: line-through;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.list {
    font-size: 20px;
    margin: 10px;
    list-style: none;
}

.page-content{
    width: 400px;
    margin: 20px auto;
    text-align: center;
    background-color: white;
    width: 100%;
    border-radius: 9px;
    max-width: 1000px;
}

.image-div {
    display: flex;
    justify-content: center;
}
